# Group Excel CSV data
# Author - Sandip Datta
This project does below - 
> Input is 6 csv files
> Each input file has below format of data

DirectoryName	FileName	                Length	    LastWriteTime
R:\Bundle2\B2S1	ARP.ASI.CICS.AR.CUSTMST.C	276391598	16-11-15 14:55
R:\Bundle2\B2S1	ARP.DAY.M5323710.CE5	    42276168	16-11-15 14:55
R:\Bundle2\B2S1	BCP.DAY.M1320200.CE5	    25566763	16-11-15 14:55

> Club(GroupBy) directories in each csv. And get file count( FileName count). Like below

                                22-Jan-2016
DirectoryName	
R:\Bundle2	                    7
R:\Bundle2\B2S1            	    148
R:\Bundle2\B2S1\SQL Databases	3
R:\Bundle2\BH01	                2
R:\Bundle2\BH01\INPUT	        1

> Create above Statistics for each of the 6 CSV files.

> And finally club those stats in the below form

                             22-Jan-2016	28-Jan-2016	01-Feb-2016	17-Feb-2016	19-Feb-2016	25-Feb-2016
    R:\Bundle2	             7	            7	        7	        8	        7	        7
    R:\Bundle2\B2S1	         148	        149	        151	        167	        167	        167
    R:\Bundle2\B2S1\Input	 NaN	        NaN	        NaN	        NaN	        NaN	        83

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [2]:
pd.set_option('display.max_rows',5)
%pylab inline

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['plt']
`%matplotlib` prevents importing * from pylab and numpy

In [3]:
# read the bundle summary data - 22_jan
bd_22Jan = pd.read_csv('Bundle2info_22Jan.csv')
bd_22Jan.head()
bd_22Jan_a = bd_22Jan.groupby('DirectoryName').size()

# Result from above is a Series
# Convert Series to Data Frame
bd_22Jan_Tot = pd.DataFrame(bd_22Jan_a)
bd_22Jan_Tot.head()

                                 0
DirectoryName
R:\Bundle2                       7
R:\Bundle2\B2S1                148
R:\Bundle2\B2S1\SQL Databases    3
R:\Bundle2\BH01                  2
R:\Bundle2\BH01\INPUT            1

In [4]:
# Add date as column header
bd_22Jan_Tot.columns = ['22-Jan-2016']
bd_22Jan_Tot.head()

                               22-Jan-2016
DirectoryName
R:\Bundle2                               7
R:\Bundle2\B2S1                        148
R:\Bundle2\B2S1\SQL Databases            3
R:\Bundle2\BH01                          2
R:\Bundle2\BH01\INPUT                    1

In [5]:
# Sheet - 28 Jan
# read the bundle summary data 
bd_28Jan = pd.read_csv('Bundle2info_28Jan.csv')

bd_28Jan_a = bd_28Jan.groupby('DirectoryName').size()

bd_28Jan_Tot = pd.DataFrame(bd_28Jan_a)

bd_28Jan_Tot.columns = ['28-Jan-2016']

In [6]:
# Sheet - 01 Feb
# read the bundle summary data 
bd_01Feb = pd.read_csv('Bundle2info_01Feb.csv')

bd_01Feb_a = bd_01Feb.groupby('DirectoryName').size()

bd_01Feb_Tot = pd.DataFrame(bd_01Feb_a)

bd_01Feb_Tot.columns = ['01-Feb-2016']

In [7]:
# Sheet - 17 Feb
# read the bundle summary data 
bd_17Feb = pd.read_csv('Bundle2info_17Feb.csv')

bd_17Feb_a = bd_17Feb.groupby('DirectoryName').size()

bd_17Feb_Tot = pd.DataFrame(bd_17Feb_a)

bd_17Feb_Tot.columns = ['17-Feb-2016']

In [8]:
# Sheet - 19 Feb
# read the bundle summary data 
bd_19Feb = pd.read_csv('Bundle2info_19Feb.csv')

bd_19Feb_a = bd_19Feb.groupby('DirectoryName').size()

bd_19Feb_Tot = pd.DataFrame(bd_19Feb_a)

bd_19Feb_Tot.columns = ['19-Feb-2016']

In [9]:
# Sheet - 25 Feb
# read the bundle summary data 
bd_25Feb = pd.read_csv('Bundle2info_25Feb.csv')

bd_25Feb_a = bd_25Feb.groupby('DirectoryName').size()

bd_25Feb_Tot = pd.DataFrame(bd_25Feb_a)

bd_25Feb_Tot.columns = ['25-Feb-2016']

In [10]:
result = pd.concat([bd_22Jan_Tot, bd_28Jan_Tot, bd_01Feb_Tot, bd_17Feb_Tot, bd_19Feb_Tot , bd_25Feb_Tot], axis=1, join='outer')
result.head()

,22-Jan-2016,28-Jan-2016,01-Feb-2016,17-Feb-2016,19-Feb-2016,25-Feb-2016
R:\Bundle2,7,7,7,8,7,7
R:\Bundle2\B2S1,148,149,151,167,167,167
R:\Bundle2\B2S1\Input,NaN,NaN,NaN,NaN,NaN,83
R:\Bundle2\B2S1\SQL Databases,3,6,6,6,6,6
R:\Bundle2\B2S1\SQL Databases\Archives,NaN,6,6,6,6,7

In [11]:
# Write the DataFrame to CSV
#result.to_csv('output.csv')